.forecast-item.mdl-cell.mdl-cell--12-col
  span.weekDay= weekDay
  span.shortDay= shortDay
  span.time= time
  span.weatherType
    i.weather-icon(class=weatherIcon, title=weatherType)
  span= feelsLike + '(' + temperature + ')'
  span= 'UV(' + uv + ')'
  span= windSpeed
  span.wind-direction(class=windDirection) →
  span= 'rain:' + probabilityRain